*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}
.btnContainer{
    display: flex;
    justify-content: center;
}
.btn{
    height: 12rem;
    width: 12rem;
    border: 10px solid black;
    border-radius: 1.5rem;
    margin: 2rem;
}

.pink{
    background-color: #FF3F7F;
}
.yellow{
    background-color: #FFC400;
}
.purple{
    background-color: #8C00FF;
}
.blue{
    background-color: #450693;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: grey;
}
.bgFlash{
    background-color: red;
}

