.container{
    height: 500px;
    width: 600px;
    display: grid;
    background-color: aquamarine;
    border: 1px solid black;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
}

.container div{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
}
#one{
    background-color: blueviolet;
}

#two{
    background-color: yellowgreen;
}
#three{
    background: red;
}

#four{
    background: orchid;
}

#five{
    background-color: brown;
}